---
import Main from "../layouts/Main.astro";
import Cards from "../components/Cards.astro";
import Social from "../components/Social.astro";

const profilePicture = "/profile.jpeg";
---

<Main title="Home">
  <div class="profile">
    <img
      width={140}
      src={profilePicture}
      class="profile__picture"
      alt="Agustin Saravia's headshot photo."
    />
    <div class="profile__details">
      <h1>Agustin Saravia</h1>
      <h2>Jr Developer</h2>
      <p>
        Driving innovation and efficiency through collaborative teamwork to
        achieve organizational success and elevate team performance.
      </p>
      <div class="profile__details__socials">
        <Social />
      </div>
    </div>
  </div>
  <Cards
    cards={[
      {
        title: "Here are my personal projects",
        gradientFrom: " #06fa3d ",
        gradientTo: " #06faea ",
        to: "/projects/",
      },
      {
        title: "A glimpse into my work history",
        gradientFrom: "#fde68a",
        gradientTo: "#ceff00",
        to: "/work-summary/",
      },
      {
        title: "Get to know the person behind the projects.",
        gradientFrom: "#ffc100",
        gradientTo: " #ff0c00 ",
        to: "/beyond-tech/",
      },
    ]}
  />
</Main>
<style>
  .profile__details__socials {
    display: inline-block;
    margin: -26.59px;
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
    place-content: center;
    flex-wrap: wrap;
    padding: 0 1rem 0 3rem;
  }
  @media screen and (max-width: 700px;) {
    .profile {
      flex-direction: row;
    }
  }

  .profile__details {
    flex: 1 0 50px;
  }

  .profile__picture {
    border-radius: 50%;

    object-fit: cover;
    height: auto;
  }
</style>
