---
import ProjectCard from "../components/ProjectCard.astro";
import Main from "../layouts/Main.astro";
---

<Main title="Projects">
  <h1 class="projects__title">Projects</h1>

  <ProjectCard
    projectImage="../Xanart-Image.webp"
    projectName="Xanart Tattoo"
    projectDescription="Landing page for a tattoo business"
    projectUrl="https://xanart-portofolio.netlify.app/"
  />
  <ProjectCard
    projectImage="../dollar_bot_pic.webp"
    projectName="Telegram Dollar Bot"
    projectDescription="A bot that retrieves the dollar value from a Uruguayan exchange"
    projectUrl="https://github.com/AgusSaravia/Telegram-dollar-bot"
  />
</Main>

<style>
  h1 {
    --text-2xl: 7rem;
    --text-md: 3.5rem;
    font-size: var(--text-2xl);
    text-align: center;
  }
  @media screen and (max-width: 720px) {
    h1 {
      font-size: var(--text-md);
      text-align: center;
    }
  }
</style>
